
# Window decoration
# {"Black":"000000","Cambridge blue":"839788","Champagne":"eee0cb","Khaki":"baa898","Columbia blue":"bfd7ea"}
set $black0  #000000
set $black1  #2c2c2c
set $green   #839788
set $blue    #BFD7EA
set $tan     #BAA898
set $red     #E06C91

set $white0  #FFFFFF
set $white1  #EEE0CB
set $grey    #acacac

# class                 border  bground text    indicator child_border
client.focused          $black1 $green  $white0  $red     $green
client.focused_inactive $black1 $tan $black1  $white1  $black1
client.unfocused        $black0 $tan $black1  $white1  $black1
client.urgent           $black1 $green  $white0  $blue    $red
client.placeholder      $black0 #0C0C0C #FFFFFF  $black0   #0C0C0C
client.background       #FFFFFF


bar {
    position top
    status_command i3status

    colors {
        background $black0
        statusline $white1
        separator  $tan

        focused_workspace  $white1 $green  $white0
        active_workspace   #3C6EB4 #294172 #FFFFFF
        inactive_workspace #8C8C8C #4C4C4C #888888
        urgent_workspace   $white0 $red    $white0
        binding_mode       #b691d3 #A07CBC #FFFFFF
    }
}
