
# Window decoration
set $default_blue #5e8d87

# "primary color" for theming; this is  really the only color that should be adjusted; everything
# else is pretty well balanced/neutral (for inactive windows, etc)
set $green          #8ec07c
set $purple          #899aff

# other useful colors
set $gray_dark      #242322
set $red            #fb4934
set $white          #ffffff

# highlight/primary color
set $cl_high $purple
# urgent
set $cl_urge $red
# default bg
set $cl_back $gray_dark
# default fg
set $cl_fore $white
# indicator
set $cl_indi #a54242
# mid darkness gray
set $cl_gray #4c4c4c

# # class                 border   bground  text     indi     child_border
# client.focused          $cl_high $cl_high $cl_fore $cl_indi $cl_high
# client.focused_inactive $cl_back $cl_back $cl_fore $cl_back $cl_back
# client.unfocused        $cl_high $cl_gray $cl_fore $cl_back $cl_back
# client.urgent           $cl_urge $cl_urge $cl_fore $cl_urge $cl_urge
# client.background       #FFFFFF


# # Status Bar:
# bar {
#     position top
#     status_command i3status

#     colors {
#         background $cl_back
#         statusline $cl_fore
#         separator  $cl_gray

#         focused_workspace  $cl_fore $cl_high    $cl_fore
#         active_workspace   $cl_fore $cl_high    $cl_fore
#         inactive_workspace $cl_gray $cl_back    $cl_fore
#         urgent_workspace   $cl_urge $cl_urge    $cl_fore
#         binding_mode       $cl_back $cl_urge    $cl_fore
#     }
# }

